/* -- -- -- */

/* Meyerweb HTML5 Reset */ {

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
}

/* -- -Start - -- */

/* Desktop Code Version */

@media (min-width: 801px) {

body {
	margin: 0 5%;
}

header {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 2.5%;
}

header nav {
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav a {
	text-decoration: none;
	color: #CECECE;
	font-size: 100%;
	font-weight: bold;
}

#main-banner {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding-bottom: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#main-banner section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 8%;
}

#main-banner section h1 {
	font-size: 6.5em;
	text-align: center;
}

#main-banner section button {
	background-color: white;
	border: .5px solid black;
	padding: 0 10%;
	font-size: 1em;
	font-family: 'Titillium Web';
}

#main-banner img {
	width: 40%;
	height: 40%;
}

#row-1 {
	display: flex;
	margin-bottom: 5%;
}

.row-1-content h2 {
	font-size: 1em;
}

.row-1-content p {
	font-size: 1em;
}

.middle-img {
	width: 100%;
	margin-bottom: 5%;
}

#row-2 {
	border-bottom: 1px solid black;
	display: flex;
	padding-bottom: 5%;
	margin-bottom: 3.5%;
}

.row-2-content h2 {
	font-size: 1em;
}

.row-2-content p {
	font-size: 1em;
}

footer h3, address, p {
	font-size: 1em;
}

footer p {
	text-align: center;
	margin-top: 5%;
	padding-bottom: 10%;
}
}

/* Tablet Code Version */

@media (max-width: 800px) {

  body {
    margin: 0 1%;
  }

  header {
    flex-direction: column-reverse;
    align-items: center;
  }

  .logo {
    width:25%;
    padding-top: 10px;
    padding-bottom: 0;
  }

  header nav{
    width: 100%;
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 30px;
    margin: 0 5px 5px 0;
  }

  #header-image {
    display: none;
  }

  #main-banner {
    justify-content: center;
  }

  #main-banner section h1 {
    font-size: 60px;
    }

  #main-banner section {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  #main-banner section button {
    padding-left: 35px;
    padding-right: 35px;
  }

  #main-banner {
    border-bottom: 1px solid black;
  }

  #row-1, #row-2 {
    font-size: 13px;
    font-weight: bold;
  }

  .row-1-content, .row-2-content {
    padding: 8px;
  }

  #row-2 {
    border-bottom: 1px solid black;
  }

  footer p {
    font-size: 13px;
  }

}

/* Mobile Code Version */

@media (max-width: 500px) {

  body {
    margin: 0;
  }

  .logo {
    width: 35%;
  }

   header nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
  }

  header nav a {
    width: 500px;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid grey;
    border-bottom: .5px solid grey;
  }

  header nav a:first-child {
    border-top:1.5px solid grey;
  }

  header nav a:last-child {
    border-bottom: 1.5px solid grey;
  }

  #row-1, #row-2 {
    flex-wrap: wrap;
  }

  .row-1-content, .row-2-content {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #row-2 {
	border-bottom: 1px solid black;
  }

  #main-banner {
    border-bottom: 1px solid black;
  }
}

/* -- - Stop - -- */

/* -- - Mistakes - -- */
/* Unable to move Logo to top of page during Mobile page loadout. */
/* Unable to center copyright sentence at bottom of page during Mobile page loadout. */